html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-position: center;
}

* {
  box-sizing: border-box;
}

.fundal {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(../img/first-page/background.jpg);
	background-size: cover;
	z-index: -2000;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

#negru {
	position: fixed;
	top: 0;
	width: 100%;
	height: 28%;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0));
}

span {
	position: absolute; 
	padding-left: 6%; 
	padding-top: 5%; 
	font-size: 3vw; 
	opacity: 0.4;
	z-index: 30;
	color: white;
}

h1 {
	position: absolute;
	color: white;
  text-align: left;
  font-size: 3vw;
  padding-left: 8%; 
  padding-top: 1%; 
  padding-right: 2%;
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

#linie {
  position: absolute;
  width: 28vw;
  height: 2px;
  z-index: 10;
  margin-left: 7%; 
  margin-top: 7%; 
  background-color: white;

  animation: slide47 2s;
  -moz-animation: slide47 2s;
  -webkit-animation: slide47 2s;
  -o-animation: slide47 2s;
}

.galerii {
	position: absolute;
	overflow: hidden;
	top: 0;
	width: 100%;
	height: 100%;
}

.galerii li img {
	position: absolute;
 left: 0;
 top: 0;
 min-height: 100%;
 width: 100%;

 z-index: -1;
 opacity: 0;
 -webkit-transition: opacity .3s ease-in;
 -moz-transition: opacity .3s ease-in;
 -o-transition: opacity .3s ease-in;

 display: flex;
 flex-direction: column;
 justify-content: center;
 overflow: auto;
}

ul {
 min-height: 100%;
 min-height: 100vh;

 list-style: none;
 display: flex;
 flex-direction: column;
 justify-content: center;
 resize: vertical;
 overflow: auto;
 font-family: 'Arvo', serif;
 letter-spacing: 4px;
 text-transform: uppercase;
}

li a {
 display: block;
 margin-left: 10%;
 width: 15%;
 height: 70%;
 color: #fff;
 text-decoration: none;
 font-size: 4vw;
 line-height: 5vw;
 z-index: 10;
 text-align: left;

 animation: fadein 2s;
 -moz-animation: fadein 2s; /* Firefox */
 -webkit-animation: fadein 2s; /* Safari and Chrome */
 -o-animation: fadein 2s; /* Opera */
}

li a:hover + img {
 opacity: 1;
}

@media only screen and (max-width: 900px) {
 h1 {
   font-size: 6vw;
   padding-left: 20%;
   padding-top: 1%;
 }
 #linie{
   display: none;
 }
 span {
   font-size: 6vw;
   padding-top: 5%;
   padding-left: 8%;
 }
 li a {
  font-size: 7vw;
  line-height: 8vw;
}
#buton {
  padding-top: 6%;
  font-size: 5vw;
  opacity: 1;
}
.galerii li img {
  height: 100%;
  min-width: 100%;
  right: 0;
  left: unset;
  min-height: unset;
  width: unset;
}
}

@media only screen and (max-width: 500px) {
 h1 {
   font-size: 8vw;
   padding-left: 28%;
   padding-top: 1%;
 }
 #linie{
  display: none;
}
span {
 font-size: 9vw;
 padding-top: 11%;
 padding-left: 8%;
}
li a {
  font-size: 10vw;
  line-height: 11vw;
}
#buton {
  font-size: 9vw;
  padding-top: 11%;
  padding-left: 10%;
}
}

@media only screen and (orientation:portrait) and (max-width: 500px) {
	.galerii li img {
		display: none;
	}
}

@media only screen and (max-height: 500px) {
	.galerii {
		display: none;
	}
}

@media only screen and (orientation:portrait) {
	#negru {
		height: 28%;
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0));
	}
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes slide47 {
  from {
    width: 0vw;
  }
  to {
    width: 28vw;
  }
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}